body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #007bff;
}
.navbar-brand img {
    height: 40px;
}
.reset-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.reset-container h3 {
    color: #007bff;
}
.btn-primary {
    width: 100%;
}
.form-text {
    text-align: center;
    margin-top: 10px;
}
.titulo h3{
    color: #007bff ;
    text-align: center;
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -3%;

}

